body, html {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;

}
#box {
    display: flex;
    align-items:center;
    justify-content: center;
    border: 1px solid gray;
    height: 200px;
    width: 200px;
}
.bar, .bar2, .bar3 {
    height: 5px;
    background-color: #626262;
    border-radius: 2px;
    width: 80px;

}
.bar2, .bar3 {
    margin-top: 10px;   
}
.bar::after, .bar2::after, .bar3::after {
    content: '';
    display: block;
    width: 80px;
    height: 100%;
    background: #232323;
    top: 0;
    right: 200%;
    z-index: 1;
    transition: width .3s ease-in-out;
}
.bar2::after {
    transition-delay: .15s;
}
.bar3:after {
    transition-delay: .3s;
}
#box:hover .bar:after, #box:hover .bar2:after,  #box:hover .bar3:after {
    display: block;
    width: 0px;
}



